<header class="fixed-top">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <h3>
                        <a href="">Todo Application</a>
                    </h3>
                </div>
                <div class="col-lg-6 top-nav">
                    <nav>
                        <ul class="nav nav-pills nav-fill float-right">
                            <li class="nav-item">
                                <a class="nav-link active">AddTodo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/todo']"><i class="fas fa-chevron-double-left"></i>Back</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</header>
<main class="container">
    <router-outlet></router-outlet>
</main>
<footer class="container fixed-bottom">
<p>Developed with &hearts; <span>by laxman kumar</span>
    <i class="fas fa-chevron-square-right"></i>
</p>
</footer>